*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;
  font-family: var(--primary-font);
  background-color: var(--prime-color);
}
:root{
  --primary-font: "Black Ops One", system-ui;
  --prime-color: #5D6532;
  --primary-color: #FFFFFFCC;
  --secondary-color: #333333;
}